doctype html
html
  head
    title Dashboard
  body
    h1 Welcome to the BSS Sender Dashboard
    p You are logged in!
    form(action="/logout" method="post")
      button(type="submit") Logout
    h2 Contacts
    p This is the contacts section.
    a(href="/contacts") Go to Contacts
